body{
    margin: 0;
    padding: 0;
    height: 2000px;
    background-color: #191f3a;
}
nav{
    width: 100%;
    height: 50px;
    background-color: #eb8638;
    position: fixed;
    z-index: 100;
    overflow: hidden;
    /* position: relative; */
}
nav img {
    width: 50px;
    height: 100%;
    position: absolute;
    left: 90px;
}
.links{
    text-decoration: none;
    color: azure;
    align-items: center;
    /* padding: 50px; */
    margin-left: 220px;
    transition: 1s all;

}
.links:hover{
    color: blue;
}
nav input{
    /* margin-left: 100px; */
    margin-bottom: 3px;
    margin-top:10px ;
    margin-left: 15px;
}
.button {
    color: aliceblue;
    background-color: #191f3a;
    border-radius: 30px;
    font-weight: 300;
    font-size: 13px;
    padding: 10px 10px;
    text-decoration: none;
    transition: all 0.4s ease;
    border :  1px solid rgb(0, 0, 0);   
}
.button:hover{
    color:rgb(9, 1, 15);
    background-color: #ffffff;
    border: 1px solid #eb8638;
    transition: all .4s ease;
    transform: scale(1.1);
    
}
header{
    width: 100%;
    height: 150px;
    /* background-color: #191f3a; */
    color: #ffffff;
    position: relative;
}
header h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 100px;
    top: 50px;

}
.section{
    width: 100%;
    height: 1350px;
    background-size: contain;
    background-repeat:inherit;
    /* background-color: #eb8638; */
    background-image: url(../img/cover.jpg);
    /* background-color: rgba(7, 0, 0, 0.9); */
    /* text-align: center; */
}
.section img{
    transform: scale(0.9);
    transition: 0.5s all;
}
.section img:hover{
transform: scale(1);
}
.cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.section h2{
    color: #ffffff;
    font-size: 20px;
}
.section h1{
    color: #ffffff;
    font-size: 30px;
}
.section p {
    color:#ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.section ul li{
    color: #ffffff;
    font-size: 20px;
}
.section dd{
    color: #ffffff;
    font-size: 20px;
}
.b{
    background-color:#191f3a;
    color: #ffffff;
    border-radius: 30px;
    font-weight: 300;
    font-size: 20px;
    padding: 50px 70px;
    text-decoration: none;
    transition: all 0.4s ease;
    border :  1px solid rgba(128, 128, 128, 0.374);
    margin: 0 0 0 600px;
    
    
}

.b:hover{
    color:rgb(9, 1, 15);
    background-color: #ffffff;
    border: 1px solid #eb8638;
    transition: all .4s ease;
    
}
footer{
    /* background-color: #eb8638; */
    width: 100%;
    height: 100px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}
